* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	border: 1px solid green;
}

html {
	-moz-text-size-adjust: none;
	-webkit-text-size-adjust: none;
	text-size-adjust: none;
	scroll-behavior: smooth;

	/* @include breakpointDesktop(768px) {
		font-size: 14px;
	}

	@include breakpointDesktop(480px) {
		font-size: 12px;
	} */
}

body {
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}

a {
	text-decoration: none;
	color: inherit;
}

ul {
	list-style-type: none;
}

img {
	display: block;
}

button {
	font-family: inherit;
}

main {
	display: block;
}
