@use '../abstracts' as *;

.recipe {
	background: $color-white;
	max-width: 46rem;

	@include breakpointMobile(600px) {
		padding: 2.5rem;
		border-radius: 1.5rem;

		img {
			border-radius: 0.75rem;
		}
	}

	&__intro {
		padding: 0 2rem;
		margin: 2.5rem 0 2rem;

		@include breakpointMobile(600px) {
			padding: 0;
		}

		h1 {
			font-size: 2.25rem;
			margin-bottom: 1.5rem;
		}
		p {
			line-height: 1.5;
			color: $color-stone-600;
		}
	}

	&__prepTime {
		padding: 1.5rem 3.5rem;
		margin: 2rem 0;

		@include breakpointMobile(600px) {
			padding: 1.5rem;
		}

		h2 {
			font-family: 'Outfit', sans-serif;
			font-size: 1.25rem;
			font-weight: 600;
			color: $color-rose-800;
			margin-bottom: 1rem;
		}

		ul {
			display: flex;
			flex-direction: column;
			gap: 0.5rem;
			color: $color-stone-600;

			li {
				display: flex;
				gap: 0.5rem;
				padding-left: 0.5rem;

				&::before {
					content: '•';
					flex-shrink: 0;
					color: $color-rose-800;
					font-size: 1.2rem;
				}

				div {
					padding-left: 1rem;
				}
			}
		}
	}

	&__ingredients {
		margin: 2rem 0;
		padding: 0 2rem;

		@include breakpointMobile(600px) {
			padding: 0;
		}

		h2 {
			font-size: 1.75rem;
			color: $color-brown-800;
			margin-bottom: 1.5rem;
		}

		ul {
			display: flex;
			flex-direction: column;
			gap: 0.5rem;
			padding: 0;
			color: $color-stone-600;

			li {
				padding-left: 0.5rem;
				display: flex;
				align-items: center;
				gap: 0.5rem;

				&::before {
					content: '•';
					flex-shrink: 0;
					color: $color-brown-800;
					font-size: 1.2rem;
				}

				span {
					margin-left: 1rem;
					line-height: 1.5;
				}
			}
		}
	}

	&__instructions {
		margin: 2rem 0;
		padding: 0 2rem;

		@include breakpointMobile(600px) {
			padding: 0;
		}

		h2 {
			font-size: 1.75rem;
			color: $color-brown-800;
			margin-bottom: 1.5rem;
		}

		ol {
			list-style: none;
			counter-reset: step;
			display: flex;
			flex-direction: column;
			gap: 0.5rem;
			padding: 0;
			color: $color-stone-600;
			line-height: 1.5;

			li {
				display: flex;
				align-items: flex-start;
				counter-increment: step;
				padding-left: 0.5rem;

				&::before {
					content: counter(step) '.';
					font-weight: bold;
					color: $color-brown-800;
					flex-shrink: 0;
				}

				div {
					margin-left: 1rem;
				}
			}
		}
	}

	&__nutrition {
		display: flex;
		flex-direction: column;
		gap: 1.5rem;
		margin: 2rem 0;
		padding: 0 2rem;

		@include breakpointMobile(600px) {
			padding: 0;
		}

		h2 {
			font-size: 1.75rem;
			color: $color-brown-800;
		}

		p {
			color: $color-stone-600;
			line-height: 1.5;
		}

		table {
			border-collapse: collapse;

			tr {
				border-bottom: 1px solid $color-stone-150;

				&:last-child {
					border-bottom: none;
				}

				td {
					padding: 0.75rem 1.8rem;
					font-size: 1rem;
					line-height: 1.5;
				}

				.label {
					color: $color-stone-600;
				}

				.value {
					color: $color-brown-800;
					font-weight: 700;
				}
			}
		}
	}

	hr {
		margin: 0 2rem;
		background: $color-stone-150;
		border: none;
		height: 1px;

		@include breakpointMobile(600px) {
			margin: 0;
		}
	}
}
