@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* border: 1px solid green; */
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  scroll-behavior: smooth;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-family: "Outfit", sans-serif;
  background: hsl(30, 54%, 90%);
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  list-style-position: inside;
}

img {
  display: block;
}

button {
  font-family: inherit;
}

main {
  display: block;
}

h1,
h2 {
  font-family: "Young Serif", serif;
  font-weight: 400;
}

.container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 600px) {
  .container {
    padding: 8rem 3rem;
  }
}

.img-fluid {
  width: 100%;
  height: auto;
}

.sr-only {
  position: absolute;
  width: 0.063rem;
  height: 0.063rem;
  padding: 0;
  margin: -0.063rem;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.recipe {
  background: hsl(0, 0%, 100%);
  max-width: 46rem;
}
@media (min-width: 600px) {
  .recipe {
    padding: 2.5rem;
    border-radius: 1.5rem;
  }
  .recipe img {
    border-radius: 0.75rem;
  }
}
.recipe__intro {
  padding: 0 2rem;
  margin: 2.5rem 0 2rem;
}
@media (min-width: 600px) {
  .recipe__intro {
    padding: 0;
  }
}
.recipe__intro h1 {
  font-size: 2.25rem;
  margin-bottom: 1.5rem;
}
.recipe__intro p {
  line-height: 1.5;
  color: hsl(30, 10%, 34%);
}
.recipe__prepTime {
  padding: 1.5rem 3.5rem;
  margin: 2rem 0;
}
@media (min-width: 600px) {
  .recipe__prepTime {
    padding: 1.5rem;
  }
}
.recipe__prepTime h2 {
  font-family: "Outfit", sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  color: hsl(332, 51%, 32%);
  margin-bottom: 1rem;
}
.recipe__prepTime ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: hsl(30, 10%, 34%);
}
.recipe__prepTime ul li {
  display: flex;
  gap: 0.5rem;
  padding-left: 0.5rem;
}
.recipe__prepTime ul li::before {
  content: "•";
  flex-shrink: 0;
  color: hsl(332, 51%, 32%);
  font-size: 1.2rem;
}
.recipe__prepTime ul li div {
  padding-left: 1rem;
}
.recipe__ingredients {
  margin: 2rem 0;
  padding: 0 2rem;
}
@media (min-width: 600px) {
  .recipe__ingredients {
    padding: 0;
  }
}
.recipe__ingredients h2 {
  font-size: 1.75rem;
  color: hsl(14, 45%, 36%);
  margin-bottom: 1.5rem;
}
.recipe__ingredients ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0;
  color: hsl(30, 10%, 34%);
}
.recipe__ingredients ul li {
  padding-left: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.recipe__ingredients ul li::before {
  content: "•";
  flex-shrink: 0;
  color: hsl(14, 45%, 36%);
  font-size: 1.2rem;
}
.recipe__ingredients ul li span {
  margin-left: 1rem;
  line-height: 1.5;
}
.recipe__instructions {
  margin: 2rem 0;
  padding: 0 2rem;
}
@media (min-width: 600px) {
  .recipe__instructions {
    padding: 0;
  }
}
.recipe__instructions h2 {
  font-size: 1.75rem;
  color: hsl(14, 45%, 36%);
  margin-bottom: 1.5rem;
}
.recipe__instructions ol {
  list-style: none;
  counter-reset: step;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0;
  color: hsl(30, 10%, 34%);
  line-height: 1.5;
}
.recipe__instructions ol li {
  display: flex;
  align-items: flex-start;
  counter-increment: step;
  padding-left: 0.5rem;
}
.recipe__instructions ol li::before {
  content: counter(step) ".";
  font-weight: bold;
  color: hsl(14, 45%, 36%);
  flex-shrink: 0;
}
.recipe__instructions ol li div {
  margin-left: 1rem;
}
.recipe__nutrition {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin: 2rem 0;
  padding: 0 2rem;
}
@media (min-width: 600px) {
  .recipe__nutrition {
    padding: 0;
  }
}
.recipe__nutrition h2 {
  font-size: 1.75rem;
  color: hsl(14, 45%, 36%);
}
.recipe__nutrition p {
  color: hsl(30, 10%, 34%);
  line-height: 1.5;
}
.recipe__nutrition table {
  border-collapse: collapse;
}
.recipe__nutrition table tr {
  border-bottom: 1px solid hsl(30, 18%, 87%);
}
.recipe__nutrition table tr:last-child {
  border-bottom: none;
}
.recipe__nutrition table tr td {
  padding: 0.75rem 1.8rem;
  font-size: 1rem;
  line-height: 1.5;
}
.recipe__nutrition table tr .label {
  color: hsl(30, 10%, 34%);
}
.recipe__nutrition table tr .value {
  color: hsl(14, 45%, 36%);
  font-weight: 700;
}
.recipe hr {
  margin: 0 2rem;
  background: hsl(30, 18%, 87%);
  border: none;
  height: 1px;
}
@media (min-width: 600px) {
  .recipe hr {
    margin: 0;
  }
}

footer {
  max-width: 75rem;
  margin: 0 auto;
  padding: 2rem 1rem;
  text-align: center;
}
footer a {
  color: hsl(14, 45%, 36%);
}